# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/

# Jupyter Notebook
.ipynb_checkpoints

# Models
# random_forest_model.joblib is ignored because it exceeds GitHub's 100MB limit (1.78 GB)
Week 14 - Supervided learning in Machine Learning/models/random_forest_model.joblib
